{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'frontend/styles.css' %}">
{% endblock css %}

{% block content %}
    <app-root></app-root>
{% endblock content %}

{% block js %}
    <script src="{% static 'frontend/polyfills-es5.js' %}" nomodule defer></script>
    <script src="{% static 'frontend/polyfills-es2015.js' %}" type="module"></script>
    <script src="{% static 'frontend/runtime-es2015.js' %}" type="module"></script>
    <script src="{% static 'frontend/main-es2015.js' %}" type="module"></script>
    <script src="{% static 'frontend/runtime-es5.js' %}" nomodule defer></script>
    <script src="{% static 'frontend/main-es5.js' %}" nomodule defer></script>
{% endblock js %}